:root {
  --header-bg: white;
}

.root {
  background-color: var(--header-bg);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-style: italic;
}
