{
  "plugins": [],
  "extends": ["stylelint-config-standard"],
  "rules": {
    "declaration-empty-line-before": null,
    "declaration-no-important": true,
    "max-nesting-depth": 1,
    "selector-class-pattern": [
      "^([a-zA-Z0-9-]+(__[a-zA-Z0-9]+)?(--[a-zA-Z0-9]+)*|u-[a-z][a-zA-Z0-9]+)$",
      {
        "resolveNestedSelectors": true
      }
    ],
    "selector-max-compound-selectors": 1,
    "selector-max-id": 0,
    "selector-no-qualifying-type": true,
    "keyframes-name-pattern": null
  }
}
