:root {
    --login-bg: white;
}

.root {
    justify-content: center;
    background-color: var(--login-bg);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-right: 15px;
    min-height: 100px;
}

.content {
    display: flex;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.connectButton {
    width: 100%;
    justify-content: center;
    margin: 20px;
}
