:root {
    --feed-bg: white;
    --feed-fg: #111;
    --nav-fg: gray;
    --nav-spacer: #4473EC;
}

.root {
    background-color: var(--feed-bg);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    height: -moz-fit-content;
    margin-right: 15px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--feed-fg);
    padding-bottom: 12px;
  }

  .backArrow {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    padding: 0 2px;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--nav-fg);
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .navigationItem {
    padding: 0 10px;
    cursor: pointer;
  }

  .navigationItem--active {
    text-decoration: underline;
  }

  .navigationSpacer {
    width: 5px;
    height: 22px;
    transform: skew(-20deg);
    background: var(--nav-spacer);
    margin: 0 6px;
  }
